services:
  host:
    build: .
    ports:
      - "8888:8888"
    environment:
      - PORT=8888
      - BRIDGE_URL=http://host.docker.internal:8886
    volumes:
      - ${CLAUDE_WORK_DIR:-.}:/work
      - ./web:/app/web
      - ./host:/app/host
      - host_node_modules:/app/host/node_modules
    command: npm run dev

volumes:
  host_node_modules:
